* text=auto eol=lf

## COMMON
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
*.svg binary
*.pdf binary
/.github export-ignore
/bitbucket-pipelines.yml export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

## LARAVEL
*.blade.php diff=html
public/vendor/livewire/* -diff

## FRONT END
package-lock.json -diff
yarn.lock -diff
composer.lock -diff

## MOBILE
ios/Podfile.lock -diff

# THIS REPOSITORY
